body {
    background-color: rgb(224, 224, 210);
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    min-height: fit-content;
}


                                /* nav bar code below  */
header .items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
}
header .items:hover {
    color: black;
    border-radius: 60px;
    background-color:rgb(251, 241, 54);
}
/* li .list .a :hover {
    color:pink;
    background-color: purple;
} */
nav .home {
    border-radius: 35%;
    background-color: green;
}
.home li {
    list-style: none;
    text-decoration: none;
}
.home a:hover {
    list-style: none;
    text-decoration: none;
   /* text-decoration: rgb(231, 232,  237); */
}
.home .items {
    width: 100%;
    padding: 20px,0;
    color: white;
}
.items .list {
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(95, 98, 197);
    color: rgb(251, 251, 251);
    font-size: 28px;
    font-family: Georgia;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.items {
    color: white;
}


                                    /* use the above code for the nav bar */
table {
    display: flex; 
    flex-wrap: wrap;
    min-height: fit-content;
    min-height: fit-content;
}

div.grid-container {
    display: flex; /* display grid makes the ro*/
    height:fit-content; /* need the fit content so the border and padding dont moove independentyl*/
    width: fit-content;
    border: 10px solid black;
    padding: 40px;
    border-radius: 35px;
    }
grid-container {
    display: flex;
}
row-container {  /* the backgrond color dooes nothing */
    padding:10px solid; /* padding color does nothing*/
    background-color: rgb(190, 30, 153);  /*this will be my guide to see how my display gooes*/
    display: flex;
    justify-content: center;
}
row-container {
    padding: 10px 25px 10px 25px; /* idk what this is doing*/
}
.data-container {
     padding:10px solid purple; /* this effects the paddding between the black border and the data*/
    background-color: rgb(20, 83, 220);
    border-radius: 35px;
    gap: 40px;
}
.data-container:hover {
    background-color: blue;
}
td {
    text-align: center; /* aligns the picture in the center */
}
.price { /* changes the color and t*/
    color: rgb(255, 255, 255);
    background-color: rgb(30, 39, 210);
}
.price:hover {
    background-color: rgb(251, 241, 54);
    color: black;
}

 a { /* targets the hyperlink underline */
    text-decoration: none;
}
.title {
    background-color: rgb(252, 255, 61);
    border-radius: 45px;
    margin: 23px;
}
.title:hover{
background-color: rgb(112, 132, 230);
color: rgb(255, 255, 255);
}

h5 {
color: white;
text-align: start;
padding: 33px;
font-size: 23px;
word-spacing: 7m;
font-family: Georgia, 'Times New Roman', Times, serif;

}

